@import "~src/app/styles/grid";
@import "~src/app/styles/colors";
@import "~src/app/styles/flex";

mat-tab-group {
  img {
    max-width: 100%;
    min-width: 100%;
    max-height: 20rem;
    object-fit: cover;
  }
}

.col-6 {
  @include col-6
}
.col-12 {
  @include col-12
}

.dialog-footer {
  margin-top: 2rem;
}

#skill-submit-btn {
  margin-left: 1rem;
}

.project-card-title {
  background-color: $primary-color;
}
